{{outlet}}

<form action="">
  <dl>
    <dt>
      Categor&iacute;a:
    </dt>
    <dd>
      {{#x-select value=model.category}}
      {{#each categories.categories as |c| }}
      {{#x-option value=c}}{{c}}{{/x-option}}
      {{/each}}
      {{/x-select}}
    </dd>

    <dt>
      Precio
    </dt>
    <dd>
      {{input type="number" value=model.value}}
    </dd>

    <dt>
      Descripci&oacute;n (opcional)
    </dt>
    <dd>
      {{input type="text" value=model.description}}
    </dd>

    <dt>
      Fecha
    </dt>
    <dd>
      {{model.createdOn}}
    </dd>

  </dl>
  <input type="submit" value="Guardar" {{action 'save'}}>
  {{link-to 'Cancelar' 'expenses'}}
</form>
